<div class="signin-wrapper">
  <div class="signin-content">
    <div class="logo">
      <i class="bi bi-check-circle-fill"></i>
    </div>
    <h2 class="welcome">Welcome Back</h2>
    <p class="subtitle">Sign in to your account</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-wrapper">
        <span class="input-icon-left">
          <i class="bi bi-envelope-fill"></i>
        </span>
        <input type="email" class="form-control" placeholder="Enter your email" formControlName="username">
      </div>
      <div class="input-wrapper">
        <span class="input-icon-left">
          <i class="bi bi-lock-fill"></i>
        </span>
        <input type="password" id="password" class="form-control" placeholder="Enter your password" formControlName="password">
        <a href="#" class="input-icon-right" (click)="togglePasswordVisibility(); $event.preventDefault()">
          <i id="togglePassword" class="bi bi-eye-fill"></i>
        </a>
      </div>

      <button type="submit" class="btn btn-login w-100" [disabled]="!loginForm.valid"> <i class="bi bi-person-plus-fill"></i> Sign In</button>
      <p *ngIf="message" class='message' [ngStyle]="{'color': isSuccess ? 'green' : 'red'}">{{ message }}</p>
      <p class="forgot-password"><a routerLink="/auth/verify-user">Forgot your password?</a></p>
      <div class="divider-text">Or</div>
      <p class="create-account">Don't have an account? <a routerLink="#" (click)="createAccount()">Create New Account</a></p>
    </form>
  </div>
</div>
