<div class="signin-wrapper">
  <div class="signin-content">
    <div class="logo">
      <i class="bi bi-person-plus-fill"></i>
    </div>
    <h2 class="welcome">Create Your Account</h2>
    <p class="subtitle">Sign up to share your village stories and join the community</p>

    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="input-wrapper">
        <span class="input-icon-left">
          <i class="bi bi-person-fill"></i>
        </span>
        <input type="text" class="form-control" placeholder="Full Name" formControlName="name">
        <small *ngIf="signUpForm.get('name')?.invalid && isSubmitted">
          <span *ngIf="signUpForm.get('name')?.errors?.['required']">Name is required!</span>
          <span *ngIf="signUpForm.get('name')?.errors?.['pattern']">Invalid name!</span>
        </small>
      </div>

      <div class="input-wrapper">
        <span class="input-icon-left">
          <i class="bi bi-envelope-fill"></i>
        </span>
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
        <small *ngIf="signUpForm.get('email')?.invalid && isSubmitted">
          <span *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required!</span>
          <span *ngIf="signUpForm.get('email')?.errors?.['email']">Invalid email!</span>
        </small>
      </div>

      <!-- Password -->
      <div class="input-wrapper position-relative">
        <span class="input-icon-left">
          <i class="bi bi-lock-fill"></i>
        </span>
        <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password">
        <a href="#" class="input-icon-right" (click)="togglePassword('password'); $event.preventDefault()">
          <i id="togglePassword" class="bi bi-eye-fill"></i>
        </a>
        <small *ngIf="signUpForm.get('password')?.invalid && isSubmitted">
          <span *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required!</span>
          <span *ngIf="signUpForm.get('password')?.errors?.['minlength'] || signUpForm.get('password')?.errors?.['maxlength']">
            Password must be between 5 and 10 characters.
          </span>
        </small>
      </div>

      <div class="input-wrapper position-relative">
        <span class="input-icon-left">
          <i class="bi bi-lock-fill"></i>
        </span>
        <input type="password" id="confirm_password" class="form-control" placeholder="Confirm Password" formControlName="confirm_password">
        <a href="#" class="input-icon-right" (click)="togglePassword('confirm_password'); $event.preventDefault()">
          <i id="toggleConfirmPassword" class="bi bi-eye-fill"></i>
        </a>
        <small *ngIf="signUpForm.get('confirm_password')?.invalid && isSubmitted">
          <span *ngIf="signUpForm.get('confirm_password')?.errors?.['required']">Confirm password is required!</span>
        </small>
      </div>

      <button type="submit" class="btn btn-signup-ice w-100" [disabled]="!signUpForm.valid">
        <i class="bi bi-person-plus me-2"></i> Sign Up
      </button>

      <p *ngIf="message" class='message' [ngStyle]="{'color': isSuccess ? 'green' : 'red'}">{{ message }}</p>

      <div class="divider-text">Or</div>

      <p class="create-account">
        Already have an account? 
        <a routerLink="/welcome-dashboard" (click)="login()">Login</a>
      </p>
    </form>
  </div>
</div>
